html, body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 20pt;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: background-color .5s;
    line-height: 1.5em;
}

body.on-type-main-title {
    background: #34005b;
    color: #fff;
}

body.on-type-infill-title {
    /*background: #6441db;*/
    /*color: #fff;*/
}

.slide {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 1024px;
    height: 768px;
    left: 50%;
    top: 50%;
    margin-left: calc(-1024px / 2);
    margin-top: calc(-768px / 2);
    padding: 50px;
    /*border: red solid 1px;*/
    pointer-events: none;
    opacity: 0;
    transition: transform .5s, opacity .5s;
}

.slide-flow-prev {
    transform: translate(0, -768px);
}

.slide-flow-current {
    opacity: 1;
    pointer-events: all;
}

.slide-flow-next {
    transform: translate(0, 768px);
}

.slide-type-main-title,
.slide-type-infill-title {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", sans-serif;
}

h2:after,
h3:after {
    content: " ";
    background-color: #ff02a7;
    display: block;
    width: 100px;
    height: 10px;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
    color: #6441db;
}

h2:after {
    margin: 50px auto;
}

h3 {
    font-size: 150%;
    color: #34005b;
}

h3:after {
    margin: 50px 0 0 0;
}

pre {
    font-size: 80%;
    border: silver solid 4px;
    line-height: 1.5em;
}
